<div class="row">
    {% for questionaire in questionaires %}
    <div class="card well">
        <div class="card-body">
            <h4 class="card-title">{{ questionaire.title }}</h4>
            <p class="card-text">{{ moment(questionaire.timestamp).fromNow() }}</p>
            <p class="card-text"><a href="{{ url_for('.user', username=questionaire.author.username) }}">{{ questionaire.author.username }}</a></p>
        </div>
        <div class="questionaire-body">
            <div class="questionaire-footer">
                <a href="{{url_for('main.questionaire', id=questionaire.id)}}">
                    <span class="btn btn-primary">预览</span>
                </a>
                {% if current_user == questionaire.author %}
                    {% if questionaire.releases[0] %}
                    <span class="btn btn-default" id="questionaire_{{questionaire.id}}.copylink" onclick="copy(this)">分享链接</span>
                    <a href="{{ url_for('main.analyse_questionaire', id=questionaire.id) }}">
                        <span class="btn btn-info">统计结果</span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.create_question', id=questionaire.id) }}">
                        <span class="btn btn-success">修改问题</span>
                    </a>
                    <a href="{{ url_for('main.release_questionaire', id=questionaire.id) }}">
                        <span class="btn btn-danger">发布问卷</span>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>