<div class="row">
    {% for questionaire in questionaires %}
    <div class="card well">
        <div class="card-body">
            <h4 class="card-title">{{ questionaire.title }}</h4>
            <p class="card-text">{{ moment(questionaire.timestamp).fromNow() }}</p>
            <p class="card-text"><a href="{{ url_for('.user', username=questionaire.author.username) }}">{{ questionaire.author.username }}</a></p>
        </div>
        <div class="questionaire-body">
            <div class="questionaire-footer">
                <a href="{{url_for('main.questionaire', id=questionaire.id)}}">
                    <span class="label label-default">预览</span>
                </a>
                {% if current_user == questionaire.author %}
                    <a href="{{ url_for('main.create_question', id=questionaire.id) }}">
                        <span class="label label-primary">修改问题</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>