{% extends "bootstrap/base.html" %}

<!-- start for favicon icon -->
{% block head %}
    {{ super() }}
    <!-- pyecharts -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <link ref="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock head %}
<!-- end for favicon icon -->

{% block title %}Q!{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse navbar-toggleable-xl" role="navigation">
    <div class="container">
        <div class="navbar-collapse">
            <a class="navbar-brand" href="/">Q!</a>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>
 
{% endblock navbar %}

{% block content%}

<div class="container" id="mainbody">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block page_content %}     
    {% endblock page_content %}
</div>
    
{% endblock content %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    <script src="{{ url_for('static', filename='sidebar.js') }}"></script> 
{% endblock scripts %}
