
{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}
    Flasky - Create
{% endblock title %}


{% block head %}
{{super()}}
<script src="{{ url_for('static', filename='question.js') }}"></script> 
{% endblock head %}

{% block page_content %}

<div>
  <form method="POST">
    <div class="row">
      <div class="page-header">
        <div class="form-group col-md-5">
          <label class="form-check-label"><h2>title</h2></label>
          <input type="text" name="questionaire_title" class="form-control" value={{ questionaire.title}}></input>
        </div>
          <div class="form-group col-md-5">
            <label class="form-check-label"><h2>Description</h2></label>
            <input type="text" name="questionaire_description" class="form-control" value={{questionaire.description}}></input>
          </div>
      </div>
    </div>

    <div id="ques_list">
        <input id="ques.id" name="ques.id" type="hidden" value="id"/>
        {% for i in range(0, length) %}
      
          <div id="ques_{{i}}.div" class="form-group row well" onmouseover="show_buttons(this,0)" onmouseout="hide_buttons(this,0)">
              <div style="font-size:13px; margin-left:5px;margin-top:-10px;margin-bottom:10px;">
                {% if renderQuestions[i].question.type==0 %}
                  <b>单选题</b>
                {% elif renderQuestions[i].question.type==1 %}
                  <b>多选题</b>
                {% elif renderQuestions[i].question.type==2 %}
                  <b>文字题 </b>
                {% elif renderQuestions[i].question.type==3 %}
                   <b>数字题 </b>
                {% elif renderQuestions[i].question.type==4 %}
                  <b>评分题 </b>
                {% endif %}
              </div>
              
              <div class="form-check form-check-inline" style="margin-left: 5px;">
                <input id="ques_{{i}}.must_do" name="ques_{{i}}.must_do" type="radio" value="1" class="form-check-input" {% if renderQuestions[i].question.must_do  %}checked=true{% endif %}/>
                <label class="form-check-label">必做</label>
                <input id="ques_{{i}}.option_do" name="ques_{{i}}.must_do" type="radio" value="0" class="form-check-input" {% if not renderQuestions[i].question.must_do %}checked=true {% endif %}/>
                <label class="form-check-label">选做</label>
              </div>

    
              <div class="row">
                <input id="ques_{{i}}.type" name="ques_{{i}}.type" type="Hidden" value='{{ renderQuestions[i].question.type }}'/>
                <div class="col-md-6"><input id="ques_{{i}}.description" name="ques_{{i}}.description" type="text" class="form-control" placeholder="Enter the question description" value="{{renderQuestions[i].question.description}}" /></div>

            
                <div class="ques_button" style="display:none">
                  <span class="pull-right btn glyphicon glyphicon-trash" onclick="delete_question(this)"></span>
                  <span class="pull-right btn glyphicon glyphicon glyphicon-arrow-down" onclick="move_question(this,1)"></span>
                  <span class="pull-right btn glyphicon glyphicon glyphicon-arrow-up" onclick="move_question(this,0)"></span>
                  {% if renderQuestions[i].question.type == 0 or renderQuestions[i].question.type == 1 %}
                    <span class="pull-right btn glyphicon glyphicon-plus" onclick="add_option_prime(this,0)"></span>
                  {% endif %}
                </div>
              </div>

              {% if renderQuestions[i].question.type == 0 or renderQuestions[i].question.type == 1 %}
                <ul class="form-inline" style="list-style-type:none">
                  {% for j in range(0, renderQuestions[i].options|length) %}
                  <li class="row" onmouseover="show_buttons(this,1)" onmouseout="hide_buttons(this,1)">
                    <input class="form-control col-md-7" type="text" id="ques_{{i}}.option_{{j}}" name="ques_{{i}}.option_{{j}}" value="{{renderQuestions[i].question.options[j].description}}"/>
                    <div class="option_button" style="display:none">
                      <span class="btn glyphicon glyphicon-arrow-up" onclick="move_option_prime(this,0)"></span>
                      <span class="btn glyphicon glyphicon-arrow-down" onclick="move_option_prime(this,1)"></span>
                      <span class="btn glyphicon glyphicon-trash" onclick="delete_option_prime(this)"></span>
                    </div>
                  </li>
                  {% endfor %}
                </ul>

              {% elif renderQuestions[i].question.type == 4 %}
              <ul class="form-inline" style="list-style-type:none">
                <li class = "row" > 
                  <input class = "col-md-7 form-control" type = "text" id = "ques_{{i}}.lefttext" name= "ques_{{i}}.lefttext" value="{{renderQuestions[i].score.left_text}}" required/>
                </li>
                <li class = "row" > 
                  <input class = "col-md-7 form-control" type = "text" id = "ques_{{i}}.righttext" name= "ques_{{i}}.righttext" value="{{renderQuestions[i].score.right_text}}" required/>
                </li>
                <li class = "row" > 
                  <input style="width: 120px;" class = "col-md-7 form-control" type = "number" id = "ques_{{i}}.number" name= "ques_{{i}}.number"  value="{{renderQuestions[i].score.radio_num}}" min="3" max="10" required/> 
                </li>
              </ul>
              {% endif %}
            </div>
        {% endfor %}
      </div>
          <button class="btn btn-primary" type="submit">Submit</button>
          <br/>
          <br/>
  </form>

  <div>
    <button type="button" class="btn btn-primary" onclick="create_question(0)">单选题</button>
    <button type="button" class="btn btn-info" onclick="create_question(1)">多选题</button>
    <button type="button" class="btn btn-success" onclick="create_question(2)">文字题</button>
    <button type="button" class="btn btn-danger" onclick="create_question(3)">数字题</button>
    <button type="button" class="btn btn-warning" onclick="create_question(4)">评分题</button>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>

{% endblock page_content %}


