{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Flasky - Analyse
{% endblock title %}


{% block body %}
{{ super() }}
<div id="questionaire_desc" style="text-align: center;">
    <h1>{{questionaire.title}}</h1>
    <p>{{questionaire.description}}</p>
</div>

{% for i in range(length) %}
{% if renderQuestions[i].question.type == 0 or renderQuestions[i].question.type == 1 or renderQuestions[i].question.type == 4%} 
    <div id="bar_{{i}}" style="width:600px; height:400px; margin:0 auto;">
    </div>
    {% elif renderQuestions[i].question.type == 2 %}
    <div id="text_{i}}"></div>
    {% elif renderQuestions[i].question.type == 3 %}
    <div id="num_{i}}"></div>
    {% endif%}
{% endfor %}
<script type="text/javascript">
    {% for i in range(length) %}   
        {% if renderQuestions[i].question.type == 0 or renderQuestions[i].question.type == 1 or renderQuestions[i].question.type == 4%} 
            var chart = echarts.init(document.getElementById('bar_{{i}}'));
            optionChart = {
                title: {
                    text: '问题{{i+1}}: {{renderQuestions[i].question.description}}',
                    left: 0,
                    top: -5,
                    subtextStyle: {
                        fontWeight: 'bolder'
                },
            },
                toolbox: {
                show: true,
                feature: {
                    saveAsImage: {}
                }
                },
                legend: {
                    show: true
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    bottom: 90
                },
                xAxis: {
                    type: 'category',
                    data:   {% if renderQuestions[i].question.type == 4 %}
                                [{% for j in range(renderQuestions[i].score.radio_num) %}'{{j}}', {% endfor %}],
                            {% else %} 
                                [{% for option in renderQuestions[i].options %}'{{ option.description}}', {% endfor %}],
                            {% endif %}
                    name: '选项',
                    // nameLocation: 'left',
                    nameGap: 10,
                    silent: false,
                    splitLine: {
                        show: false
                    },
                    splitArea: {
                        show: false
                    },
                    nameTextStyle: {
                        fontWeight: 'bolder'
                    },
                
                    axisLabel: {
                        interval: 0,
                        formatter:function(value){  
                            var ret = "";
                            var maxLength = 18;
                            var valLength = value.length;
                            var rowN = Math.ceil(valLength / maxLength);
                            if (rowN > 1)
                            {
                                for (var i=0; i<rowN; i++){
                                var temp = "";
                                var start = i * maxLength;
                                var end = start + maxLength;
                                temp = value.substring(start, end) + "\n";
                                ret += temp;
                                }
                                    return ret;
                            }else{
                                return value;
                            }
                        }
                    }
                },
                yAxis: {
                    type: 'value',
                    name: '人数',
                    nameLocation: 'center',
                    nameGap: 42,
                    splitArea: {
                        show: false
                    },
                    nameTextStyle: {
                        fontWeight: 'bolder'
                    }
                },
                series: [
                    {
                        type: 'bar',
                        data: [{% for key, value in renderQuestions[i].answers.items() %}{{ value }}, {% endfor %}],
                    }
                ]
                
            };

            chart.setOption(optionChart);
        {% endif %}
    {% endfor %}
</script>

{% endblock body %}


